<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.koushikdutta.klaxon" android:versionCode="432" android:versionName="4.3.2h">

	<uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

	<application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="AlarmClock"
                android:label="@string/app_name"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                android:launchMode="singleInstance"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        	
        <activity android:name="DeskClock"
                android:icon="@drawable/ic_widget_analog_clock"
                android:launchMode="singleInstance"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation">
                >

            <!-- while docked, this is our home application -->
            <meta-data android:name="android.dock_home" android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity>
        
        <service android:name="AlarmService" />

		<activity android:name=".AlarmEditActivity" />
		<activity android:name=".TrackBrowserActivity" />
		<activity android:name=".AlarmActivity"
			android:launchMode="singleInstance" android:screenOrientation="portrait"
			android:excludeFromRecents="true"
       		android:theme="@android:style/Theme.NoTitleBar"
			android:configChanges="orientation">
		</activity>
		<receiver android:name="AlarmReceiver">
			<intent-filter>
				<action android:name="com.koushikdutta.klaxon.ALARM_ALERT" />
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.TIME_SET" />
				<action android:name="android.intent.action.TIMEZONE_CHANGED" />
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<action android:name="android.intent.action.DATE_CHANGED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>  